/* 
AUTHOR: Daniel Kleebinder
CREATED ON: 23.06.2017
*/


/* Main StyleSheet Color: #203341*/


/* Custom CSS */
/* ELEMENTS */
* {
    scroll-behavior: smooth;
    font: 400 14px Montserrat, sans-serif;
    line-height: 1.8;
}
body {
    color: #818181;
    background-color: #fff;
}

h2 {
    font-size: 28px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
}

h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
}

section {
    padding-top: 40px;
    padding-bottom: 80px;
    border-bottom: 1px solid #ddd;
}

/* CLASSES */
.background-one {background-color: #fff;}
.background-two {background-color: #f6f6f6;}
.background-three {background-color: #203341;}

.min-width {
    min-width: 100px;
}

.logo-small {
    color: #203341;
    font-size: 50px;
}
.logo {
    color: #203341;
    font-size: 250px;
    margin-top: 90px;
}
@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }
}

.thumbnail p {
    padding-left: 10px;
    padding-right: 10px;
}

.row-1 {
    margin-top: 50px;
}

/* Slide Animations */
.slideanimation {
    visibility: hidden;
}
.slide {
    animation: slide;
    animation-name: slide;
    -webkit-animation-name: slide;

    animation-duration: 0.8s;
    -webkit-animation-duration: 0.8s;

    visibility: visible;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

/* IDs*/
#services-container > div {
    min-height: 210px;
}

#google-maps {
    width: 100%;
    height: 400px;
    overflow: hidden;
    border: 0;
}

#portfolio h2, #portfolio h4 {
    color: #fff;
}


/* Footer */
footer {
    background-color: #203341;
    color: #fff;
    padding-top: 45px;
    padding-bottom: 20px;
    height: 200px;
}
footer #scrolltop {
    color: #fff;
    font-size: 30px;
}
footer #copyright {
    margin-top: 60px;
}